$icon-font-path: "../assets/fonts/bootstrap/" !default;
$brand-primary: #0771bb !default;
$navbar-default-color: #000 !default;
$navbar-default-link-color: #000 !default;
$navbar-default-link-active-color: #000 !default;
$navbar-default-link-hover-color: #000 !default;
$navbar-default-link-active-bg: transparent !default;
$navbar-default-link-hover-bg: transparent !default;

// Navbar brand label
$navbar-default-brand-color: #0771bb !default;
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar.navbar-default {
  border-radius: 0;
  min-height: 60px;
  background: url("../assets/images/nav-background.png") repeat-x;
  .container {
    padding-bottom: 0px;
    a {
      text-transform: uppercase;
      &.navbar-brand {
        line-height: normal;
        height: auto;
        padding: 0;
      }
    }
    ul.navbar-nav {
      margin-top: 0px;
      margin-bottom: 0px;
      > li {
        > a {
          line-height: 20px;
          padding: 20px 25px;
          @media (max-width: $screen-sm-max) {
            padding: 20px 10px;
          }

          @media (max-width: $screen-xs-max) {
            background: #fff;
            border-bottom: 1px solid #c2ccd1;
          }
          letter-spacing: 1px;
          font-weight: bold;
          font-size: 14px;
          &:visited {
            background: transparent;
          }
          &:hover {
            text-decoration: underline;
            background: url("../assets/images/nav-background-reverse.png") repeat-x;
          }
        }
        &.active {
          background: transparent;
          > a {
            text-decoration: none;
            background: url("../assets/images/nav-background-reverse.png") repeat-x;
          }
        }

        ul.dropdown-menu {
          padding-top: 0;
          padding-bottom: 0;
          right: auto;
          left: 0;
          a {
            font-size: 13px;
            line-height: 20px;
            @media (max-width: $screen-xs-max) {
              background: #ccc;
              border-bottom: 1px solid #c2ccd1;
            }
            &:hover {
              text-decoration: underline;
              background: url("../assets/images/nav-background-reverse.png") repeat-x;
            }
          }
        }
      }
    }

  }
  .navbar-toggle {
    border-color: #666;
    vertical-align: middle;
    margin-top: 25px;
    margin-bottom: 0;
  }
}

.container, .container-fluid {
  text-align: center;
  padding-bottom: 50px;
  .title {
    text-transform: uppercase;
    margin-top: 40px;
  }

}

div.top-right {
  position: absolute;
  right: 0;
  top: 0;
  &.language {
    a {
      border-radius: 0;
      &:hover {
        background-color: $navbar-default-link-hover-bg;
      }
    }
  }
}

p.comment, span.comment {
  width: 800px;
  color: #666;
  font-size: 14px;
  font-style: italic;
  line-height: 19px;
  margin: 0 auto 0px;
  text-align: left;
}

#index {
  .first-container {
    margin-top: 60px;
    padding: 0 0 0 0;
    .flexslider {
      border: 0;
      margin-bottom: 0px;
      ul.slides {
        li {
          position: relative;
          .flex-caption {
            width: 100%;
            padding: 10px 2%;
            left: 0;
            bottom: 0;
            background: rgba(0, 0, 0, .8);
            color: #fff;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
            font-size: 14px;
            line-height: 18px;
            text-align: left;
          }
        }
      }

      .flex-control-nav {
        bottom: 10px;
        width: auto;
        right: 10px;
        li {
          a {
            border-radius: 0;
            background: rgba(255, 255, 255, 0.5);
            &.flex-active {
              background: rgba(255, 255, 255, 0.9);
            }
          }
        }
      }
    }
  }
  .second-container {
    h3.title {
      font-weight: bold;
    }
  }
  .third-container {
    background-image: url("../assets/images/index/third-container-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    padding-bottom: 0px;
    div.container {
      padding-top: 30px;
      .col {
        > div {
          margin: 20px 20px;
          background: #fff;
          height: 400px;
          padding: 30px;
          img {
            border-radius: 75px;
            width: 75px;
            display: inline-block;
          }
          h4 {
            font-weight: bold;
          }
        }
        @media (min-width: $screen-md-min) {
          &:nth-child(4) {
            margin-left: 16.5%;
          }
        }
      }
    }
  }
}

#company {
  ul.navbar-nav {
    > .dropdown {
      background: transparent;
      > a {
        text-decoration: none;
        background: url("../assets/images/nav-background-reverse.png") repeat-x;
      }
      .company {
        a {
          color: #fff;
          text-decoration: none;
          outline: 0;
          background-color: #0771bb;
        }
      }
    }
  }
  .first-container {
    border: 1px solid #c2ccd1;
    margin-top: 60px;
    background-color: #d4d4d4;
    img {
      width: 400px;
      &.left {
        float: left;
        margin-right: 20px;
      }
      &.right {
        float: right;
        margin-left: 20px;
      }
      @media (max-width: $screen-xs-max) {
        width: 300px;
      }
    }
    h3.title {
      margin-top: 20px;
      font-weight: bold;
    }
    p {
      text-align: left;
      text-indent: 10px;
      margin-bottom: 4px;
    }
  }
}

#qualification, #equipment, #craft, #case, #product, #material, #contact {
  .first-container {
    border: 1px solid #c2ccd1;
    margin-top: 60px;
    background-color: #d4d4d4;
    .title {
      margin-top: 20px;
      font-weight: bold;
    }
  }
}

#qualification {
  ul.navbar-nav {
    > .dropdown {
      background: transparent;
      > a {
        text-decoration: none;
        background: url("../assets/images/nav-background-reverse.png") repeat-x;
      }
      .qualification {
        a {
          color: #fff;
          text-decoration: none;
          outline: 0;
          background-color: #0771bb;
        }
      }
    }
  }
  .first-container {
    .col {
      height: 250px;
      background-color: transparent;
      padding: 10px;
      overflow: hidden;
      img {
        width: auto;
        max-width: 100%;
      }
    }
  }
}

#equipment, #product {
  .portfolio-main .filters {
    margin: 0 1% 2%;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .portfolio-main .filters li {
    display: inline-block;
    margin-right: 20px;
  }

  .portfolio-main .filters li span {
    font-size: 12px;
    display: block;
    padding: 5px 15px;
    border: 1px solid rgb(221, 221, 221);
    text-decoration: none;
    color: #000;
    cursor: pointer;
    text-transform: uppercase;
    @include transition(0.5s all);
    @media (max-width: $screen-sm-max) {
      padding: 3px 10px;
    }
    @media (max-width: $screen-xs-max) {
      padding: 2px 8px;
    }
    @media (max-width: $screen-phone) {
      padding: 1px 2px;
    }
  }

  .portfolio-main .filters li span.active, .portfolio-main .filters li span:hover {
    color: #bd4932;
  }

  .portfolio-main .portfoliolist {
    overflow: hidden;
    text-align: center;
  }

  .portfolio-main .portfoliolist .portfolio {
    @include box-sizing(border-box);
    width: 23%;
    margin: 1%;
    float: left;
    display: none;
    overflow: hidden;
    @media (max-width: $screen-sm-max) {
      width: 31%;
    }
    @media (max-width: $screen-xs-max) {
      width: 48%;
    }
    @media (max-width: $screen-phone) {
      width: 98%;
    }
  }

  .portfolio-wrapper {
    overflow: hidden;
    position: relative !important;
    cursor: pointer;
  }

  .portfolio img {
    top: 0px !important;
    position: relative;
    max-width: 100%;
    width: 100%;
    opacity: 5;
    @include transition(all 300ms);
  }

  .portfolio .label {
    left: 0;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: -20px;
    @include transition(0.3s all);
  }

  .portfolio .label-text {
    color: #fff;
    position: relative;
    z-index: 500;
  }

  .portfolio .text-category {
    display: block;
    font-size: 13px;
    text-align: center;

    @media (max-width: $screen-phone) {
      font-size: 12px;
    }
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 100;
    margin-top: 3px;
  }

  .portfolio .label-bg {
    background: #bd4932;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

#equipment {
  ul.navbar-nav {
    > .dropdown {
      background: transparent;
      > a {
        text-decoration: none;
        background: url("../assets/images/nav-background-reverse.png") repeat-x;
      }
      .equipment {
        a {
          color: #fff;
          text-decoration: none;
          outline: 0;
          background-color: #0771bb;
        }
      }
    }
  }
}

#craft, #material {
  .first-container {
    background: #fff;
    border-radius: 15px;
    margin-bottom: 20px;
    .craft-wrapper {
      border: 1px solid #666;
      margin-bottom: 10px;
      .sub-title {
        text-align: left;
        background: #ccc;
        padding: 10px 10px;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: bold;
      }
      .row {
        margin: 0;
        .col-md-5 {
          padding: 0;
          img {
            display: block;
            max-width: 100%;
            height: auto;
          }
        }
        .col-md-7 {
          &:hover {
            background-color: #d4d4d4;
          }
          height: 100%;
          text-align: left;
          padding: 10px 15px;
        }
      }

    }
  }
}

#craft {
  ul.navbar-nav {
    .craft {
      background: transparent;
      > a {
        text-decoration: none;
        background: url("../assets/images/nav-background-reverse.png") repeat-x;
      }
    }
  }
}

#case {
  ul.navbar-nav {
    .case {
      background: transparent;
      > a {
        text-decoration: none;
        background: url("../assets/images/nav-background-reverse.png") repeat-x;
      }
    }
  }
  .first-container {
    ul.nav-stacked {
      @media (max-width: $screen-sm-max) {
        > li {
          float: left;
        }
      }
    }
    .tab-content {
      background-color: #e8e8e8;
      overflow: hidden;
      .tab-pane {
        padding: 10px;
        img {
          width: 400px;
          &.left {
            float: left;
            margin-right: 20px;
          }
          &.right {
            float: right;
            margin-left: 20px;
          }
          @media (max-width: $screen-sm-max) {
            width: 300px;
          }
        }
        p {
          text-align: left;
          text-indent: 10px;
          margin-bottom: 4px;
        }
      }
    }
  }
}

#product {
  ul.navbar-nav {
    .product {
      background: transparent;
      > a {
        text-decoration: none;
        background: url("../assets/images/nav-background-reverse.png") repeat-x;
      }
    }
  }
}

#material {
  ul.navbar-nav {
    .material {
      background: transparent;
      > a {
        text-decoration: none;
        background: url("../assets/images/nav-background-reverse.png") repeat-x;
      }
    }
  }
}

#contact {
  ul.navbar-nav {
    .contact {
      background: transparent;
      > a {
        text-decoration: none;
        background: url("../assets/images/nav-background-reverse.png") repeat-x;
      }
    }
  }
  .first-container {
    > .row {
      margin-top: 100px;
      @media (max-width: $screen-sm-max) {
        margin-top: 30px;
      }
      font-size: 16px;
      line-height: 30px;
      font-weight: bold;
      .left-div {
        float: left;
        width: 60%;
        @media (max-width: $screen-sm-max) {
          width: 100%;
        }
        .title, .content {
          padding: 0px 12px;
          display: inline-block;
        }
        .title {
          @media (max-width: $screen-sm-max) {
            width: 50%;
          }
          width: 25%;
          text-align: right;
        }
        .content {
          @media (max-width: $screen-sm-max) {
            width: 50%;
          }
          width: 75%;
          text-align: left;
        }
      }
      .right-div {
        float: left;
        width: 40%;
        .right-first {
          float: left;
          @media (max-width: $screen-sm-max) {
            width: 50%;
          }
        }
        .right-second {
          @media (max-width: $screen-sm-max) {
            float: left;
            width: 50%;
          }
        }
        @media (max-width: $screen-sm-max) {
          width: 100%
        }
        img {
          width: 120px;
        }
      }
    }
  }
}
